.big-screen {
  font-size: 3vh;
  height: 100vh;
  width: 100vw;
  background: url(./background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-screen .box {
  background-color: #fff;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.9;
}
.big-screen .box-content {
  width: 75vh;
  padding: 3vh 6vh;
  display: flex;
  flex-direction: column;
}

.joined {
  color: #6a4e83;
}

.big-screen h1 {
  color: #1aaaa0;
  font-size: 5em;
  padding: 0;
  margin: 0 0 0.3em 0;
}

.big-screen h2 {
  font-size: 1.4em;
  padding: 0;
  margin: 0 0 0.5em 0;
}

.big-screen .question-title {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

.big-screen .timer-bar {
  height: 1.5vh;
  width: 100%;
  background-color: #f3f3f3;
  position: relative;
}
.big-screen .timer-bar-remaining {
  height: 100%;
  right: 0;
  position: absolute;
  background-color: #2daaa0;
}
.big-screen h2 {
  color: #442564;
  font-size: 2em;
  text-align: center;
  margin: 1em 0;
}


.attendees-joined {

}