.big-screen {
  font-size: 3vh;
  height: 100vh;
  width: 100vw;
  background: url(./background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-screen .box {
  background-color: #fff;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.9;
}
.big-screen .box-content {
  width: 75vw;
  padding: 3vh 6vh;
  display: flex;
  flex-direction: column;
}

.joined {
  color: #6a4e83;
}

.big-screen h1 {
  color: #1aaaa0;
  font-size: 5em;
  padding: 0;
  margin: 0 0 0.2em 0;
  text-align: center;
}

.big-screen .question-title {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  color: #9b9b9b;
}
.big-screen .question-title :last-child {
  color: #2daaa0;
}
.big-screen .question-title .time-up {
  color: #f97a60;
}

.big-screen .timer-bar {
  height: 1.5vh;
  width: 100%;
  background-color: #f3f3f3;
  position: relative;
}
.big-screen .timer-bar-remaining {
  height: 100%;
  right: 0;
  position: absolute;
  background-color: #2daaa0;
}
.big-screen h2 {
  color: #442564;
  font-size: 1.4em;
  text-align: center;
  padding: 0;
  margin: 0 0 0.8em 0;
}

.big-screen .option {
  margin-bottom: 2vh;
  position: relative;
  font-size: 1.3em;
  width: 75vw;
}
.big-screen .option .option-text-back {
  border: 0.5vh solid #9b9b9b;
  height: 10vh;
  border-radius: 5.5vh;
  color: #9b9b9b;
  line-height: 10vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.big-screen .option-text-front {
  width: 75vw;
  display: flex;
  justify-content: space-between;
}
.big-screen .option-text-back span {
  padding: 0 4vh;
}
.big-screen .option-text-front span {
  padding: 0 4.5vh;
}

.big-screen .option.correct .option-text-back {
  border-color: #2daaa0;
  color: #2daaa0;
}

.big-screen .option-overlay {
  position: absolute;
  border-radius: 5.5vh;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.big-screen .option .option-overlay > * {
  border-radius: 5.5vh;
  height: 11vh;
  line-height: 11vh;
  overflow: hidden;
  background-color: #9b9b9b;
  color: #fff;
}
.big-screen .option.correct .option-overlay > * {
  background-color: #2daaa0;
}

.attendees-joined > * {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}
.attendees-joined > :first-child {
  opacity: 0.5;
}
.attendees-joined span {
  font-weight: bold;
}
.attendees-joined .avatar {
  margin-right: 3vh;
}

.leaderboard {
  height: 100%;
  width: 100%;
  align-items: center;
  overflow-y: auto;
  overflow-x: auto;
  color: #f97d64;
}
.leaderboard h1 {
  color: #fff;
  font-size: 1.3em;
  margin: 0.7em;
  font-weight: normal;
}
.big-screen .leaderboard-tile.box {
  display: flex;
  margin-bottom: 1vh;
  width: 40%;
  flex-direction: row;
  padding: 2vh;
  margin: 1vh auto;
}
.leaderboard-place {
  min-width: 2vh;
}
.leaderboard-tile .avatar, .leaderboard-title .avatar-initials {
  margin: 0 2vh;
}
.leaderboard-name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #684f82;
}
.leaderboard-points {
  margin-left: 1vh;
}